html {
  font-family: 'Pinyon Script', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.i-btn {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  transform: scale(.9);
}

.icons {
  width: 10%;
  margin: auto;
  margin-bottom: 7rem;
}
