html {
  font-family: 'Pinyon Script', cursive;
  background-color: #FCEFE6;
  /* position: relative; */
  margin: 0 auto;
}

h1{
  color: #fbdcdb;
}

.whiteblock {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1em;
  margin: -200px 0 0 -300px;
  background-color: white;

}

p {
  font-family: 'Montserrat', sans-serif;
}

.i-btn {
    transition: all .3s ease;
}

.i-btn:focus,
.i-btn:hover {
  transform: scale(.9);
}

.icons {
  width: 40%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 7rem;
}
